* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: blanchedalmond;
}

.container div {
  flex-grow: 1;
  background-color: tomato;
  margin: 5px;
  height: 50px;
}