body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  background-color: red;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  /* transition-property: background-color, height, width, border-radius; */
  transition-duration: 2s;
}

.transition:hover {
  cursor: pointer;
  background-color: orange;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}
